body {
  background-color: #FFF2E4;
  margin: 0;
  padding: 0;
  font-family: 'Asap', sans-serif;
}

a {
  font-family: 'Asap', sans-serif;
  text-decoration: none;
  color: #0000FF;
  font-weight: 700;

}

a:hover {
  color: #FFDD00;
}

li {
  display: inline-block;
  float: right;
  padding: 0 20px;

}

ul {
  clear: both;
}

nav{
  height: 50px;
  float: right;
}

h1 {

    font-weight: 700;
    color: #FFA5E4;
    margin: 0px auto;
    text-align: center;
    padding: 5px;
}
h4 {
  text-align: center;
  color: #FFA2E4;
  margin: 0px auto;
  padding: 10px 0 30px;
}


.image {
  display: inline-block;
  margin: 10px;
  position: relative;
}


main {
  width: 80%;
  margin: 0 auto;
}

h2 {
  color: #D0021B;
  font-weight: 700;
}

.doughnut{
  display: inline-block;
  margin: 5px;
  float: left;
  width: 30%;
  border: 3px solid #FFD5E4;
  padding: 10px;
  background-color: #FFFFFF;
}

article {
  /*padding: 0px 50px;*/
}


/*cart page*/
.information {
  padding: 10%;
  font-family: 'Asap', sans-serif;
}


.border {
    display: inline-block;
    padding: 20%;
    border: 5px solid #FFD5E4;

}




}
p {
  display: inline-block;
  padding: 0 10px;
}
footer {
  clear: both;
  margin: 0 auto;
  position: bottom;
}
h5 {
  padding: 10px;
  margin: 0px auto;
  text-align: left;
}
