body {
  background-color: #FFF2E4;
  margin: 0;
  padding: 0;
  font-family: 'Asap', sans-serif;
}

a {
  font-family: 'Asap', sans-serif;
  text-decoration: none;
  color: #0000FF;
  font-weight: 700;

}

a:hover {
  color: #FFDD00;
}

li {
  display: inline-block;
  float: right;
  padding: 0 20px;

}

ul {
  clear: both;
}

nav{
  height: 50px;
  margin: 10px;
}

h1 {

    display: inline-block;
    font-weight: 700;
    color: #FFA5E4;
    margin: 0px auto;
}
h4 {
  display: inline-block;
  color: #FFA2E4;
  margin: 0px auto;
  font-weight: 700;
  color: #FFA5E4;
}


img {
  display: inline-block;
  margin: 10px;
}

.image {

}


main {
  width: 80%;
  margin: 0 auto;
}

h2 {
  color: #D0021B;
  font-weight: 700;
}

.doughnut{
  display: inline-block;
  margin: 5px;
  float: left;
  width: 30%;
  border: 3px solid #FFD5E4;
  padding: 10px;
  background-color: #FFFFFF;
}

article {
  /*padding: 0px 50px;*/
}

/*cart page*/
.information {
  padding: 50px;
}
p {
  padding: 0 50px;


